/git/
/lizatest/
/tttfff/
/XxXyY/
/docker/
/MY-PROJECT/
/node-app/
/Sample.Struct/packed-refs
/lenin/javascript-2020/
/nginx/
/poject-git/
/python-app/
/Sample.Struct/
/Sample.Struct777/
/time-app-START/
/.vscode/
/docker-compose-app/
